{
    "jobs": [
        {
            "functionLocation": "/jobs.js", 
            "functionName": "runScheduledTasks",
            "description": "Checks and Runs Scheduled Tasks",
            "executionConfig": {
                "cronExpression": "*/5 * * * *"
            }
        },
        {
            "functionLocation": "/jobs.js",
            "functionName": "scheduleDailyPullTask",
            "description": "Schedule Synchronization of all members data daily at 4 AM",
            "executionConfig": {
                "cronExpression": "0 8 * * *"
            }
        },
        {
            "functionLocation": "/jobs.js",
            "functionName": "updateSiteMapS3",
            "description": "upload an updated sitemap to AWS S3 every 30 minutes",
            "executionConfig": {
                "cronExpression": "*/30 * * * *"
            }
        }
    ]
}

