{
    "jobs": [
        {
            "functionLocation": "/jobs.js", 
            "functionName": "runScheduledTasks",
            "description": "Checks and Runs Scheduled Tasks",
            "executionConfig": {
                "cronExpression": "*/5 * * * *"
            }
        },
        {
            "functionLocation": "/jobs.js",
            "functionName": "scheduleDailyPullTask",
            "description": "Schedule Synchronization of all members data daily at 4 AM",
            "executionConfig": {
                "cronExpression": "0 8 * * *"
            }
        },
    ]
}

